.img-circle {
    border-radius: 50%;
    border: 2px solid green;
}

body {
    font-family: 'Lato', sans-serif;
    color: #602d0a;
    background: #F8F8FF;
    -webkit-font-smoothing: antialiased;
}

.page {
    max-width: 1200px;
    min-width: 960px;
}

a {
    text-decoration: none;
    color: #602d0a;
}

a:hover {
    color: #3498db;
}

p>a:hover {
    color: #ff8c00;
    text-decoration: underline;
}

ul {
    padding: 0;
    list-style: none;
}

.active-page {
    font-size: 1.5rem;
    border-top: 4px solid rgb(68, 131, 68);
    border-bottom: 4px solid rgb(68, 131, 68);
}

.page-header {
    background-image: url(/media/images/129.jpg);
    background-size: 1200px 370px;
    background-repeat: no-repeat;
    background-color: rgba(36, 141, 215, 0.65);
}

.page-nav {
    background-color: rgba(243, 156, 18, 0.65);
}

.page-content {
    background-color: #ecf0f1;
}

.page-footer {
    background-color: rgba(243, 156, 18, 0.65);
}

.page-nav, .page-content {
    padding: 32px 10px 32px 32px;
}

.page-header {
    padding: 1rem;
}

.page-header .title .header-title {
    margin-bottom: 10px;
}

.page-header .title .header-sub-title {
    margin-top: 9px;
}

.page-header .title h5 {
    margin: 40px 0 0 0;
}

.img-circle {
    margin-right: 25px;
}

.nav-list-links, .nav-blog-links {
    padding: 5px 10px 5px 10px;

}

.nav-list-links:hover, .nav-blog-links:hover {
    background-color: #F8F8FF;
    border-radius: 5px;
}

/* Page Content */
.blog-post-header {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.blog-post-header p {
    align-self: flex-end;
}

.content-blog-post {
    margin-bottom: 60px;
}

.content-blog-post .middle-blog {
    border-left: 5px solid tan;
    padding: 10px;
}

code {
    background-color: lightgray;
}

.gradient {
  background-image: linear-gradient(to right, #fff, #ecf0f1);
}

.small-copy {
    padding-top: 50px;
}
