@supports (display: grid) {

    .page {
      width: 100%;
      margin: 0 auto;
      display: grid;
      /*grid-column-gap: 20px;*/
      /*grid-row-gap: 20px;*/
      gird-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 50px auto 100px;
      grid-template-areas:
        "header header header"
        " nav    nav    nav"
        " main   main   main"
        "footer footer footer";
    }

    .page-header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
    }

    .page-nav {
        grid-area: nav;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .page-content {
        grid-area: main;
        min-height: calc(70vh - 100px);
    }

    .page-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas:
        " banner content"
    }

    .page-footer {
        grid-area: footer;
    }

}
